@import "settings";
@import "foundation";
@import "compass/css3";

#home, #page2{
  min-height: 100vh;
}

#concept, #previousRooms, #volunteer, footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

#home {
  margin-top: -$topbar-height;
  @include background(url('../images/cdj.jpg') no-repeat center center);
  @include background-size(cover);
  color: $ghost;
  font-size: 30vh;
  padding-top: 30vh;
  i{
    cursor: pointer;
  }
}

#concept{
  min-height: 40vh;
  i{
    font-size: 4em;
  }
}

#previousRooms{
  min-height: 60vh;
  h2{
    margin-bottom: 1em;
  }
  background-color: $white-smoke;
}

#volunteer{
  h2{
    margin-bottom: 1em;
  }
  min-height: 85vh;
}

footer{
  min-height: 15vh;
  background-color: $tuatara;
  color: $iron;
}

.photo-upload{
  min-height: 150px;
}

.circle{
  float: right;
  margin-left: 10px;
  height: 1.5em;
  width: 1.5em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: $iron;
  color: $tuatara;
  font-size: 3em;
}